<app-auth-block >
    <form class="authblock" [formGroup]="resetForm"  (ngSubmit)="ResetPassword()">
        <h3>Reset your password </h3>
        <div class="formGroup">
            <input type="password" class="formControl" placeholder="Password" formControlName="password">
            <ng-container *ngIf="password.invalid && password.touched">
              <div class="invalid-msg" *ngIf="password.hasError('required')">
                Password required
              </div>
              <div class="invalid-msg" *ngIf="password.hasError('minlength')">
                Password too short ! Add at least
                {{ password.getError('minlength').requiredLength - password.getError('minlength').actualLength  }}
              </div>
            </ng-container>


          </div>
          <div class="formGroup">
            <input type="password" [appdisableControl]="!password.value || password.pristine" class="formControl" placeholder="Confirm Password" formControlName="confirmPassword">
            <ng-container *ngIf="confirmPassword.invalid && confirmPassword.touched">
              <div class="invalid-msg" *ngIf="confirmPassword.hasError('mustMatch')">
                 Confirm password must match password
              </div>
              <div class="invalid-msg" *ngIf="confirmPassword.hasError('required')">
                Confirm your password
              </div>
              <div class="invalid-msg" *ngIf="confirmPassword.hasError('minlength')">
                Confirm Password too short ! Add at least
                {{ confirmPassword.getError('minlength').requiredLength - confirmPassword.getError('minlength').actualLength  }}
              </div>
            </ng-container>
          </div>

        <!-- Calling SignIn Api from AuthService -->
        <div class="formGroup">
          <button type="submit" *ngIf="resetForm.valid" class="btn btnPrimary" >
            Reset password
        </button>

      </div>
    </form>
</app-auth-block>
