<form (ngSubmit)="register()" [formGroup]="myForm"  >
  <div class="form-group">
  <input type="text" formControlName="name" class="form-control"
         placeholder="Veuillez saisir un nom ">
  </div>

  <div class="form-group">
  <input type="email" formControlName="email" class="form-control">
  </div>
  <div class="form-group">
  <select formControlName="state" >
    <option *ngFor="let state of clientsStates"
            [value]="state">{{ state}}</option>
  </select>
  </div>
  <button type="submit" [disabled]="myForm.invalid"> Register </button>
</form>
