<h1> Bonjour </h1>
<h2>  Bonjour Gweltaz </h2>
<app-button text="Add Client" (Out)="goToClient()"></app-button>
<app-tableau [headers]="clientHeaders">
    <tr *ngFor="let client of clients$ | async " >
      <td>{{ client.name | uppercase}}</td>
      <td>{{ client.email}}</td>
      <td appStateColor [state]="client.state" >
      <select [(ngModel)]="client.state" (change)="update($event, client)" >
        <option *ngFor="let state of clientsStates"
                [value]="state">{{ state}}</option>
      </select>
      </td>
      <td>
        <a [routerLink]="['/clients', 'edit' , client.id]"> Edition</a>
      </td>
    </tr>
</app-tableau>
